*{
    background-color: rgb(65, 214, 225);
    font-family: cursive, fantasy, serif;
    margin: 0px;
}

.header{
    background-color: lightcoral;
    display: flex;
    justify-content: space-between;
    padding: 30px
}

.images {
    margin: 50px;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grid{
    justify-content: space-evenly;
}

.panda{
    display: flex;
    color: lightskyblue;
}

.pandatext{
    display: flex;
    justify-content: space-between;
    color: mediumblue;
}

.chameleon{
    display : flex;
    color:red
}

.chameleon-text{
    display: flex;
    justify-content: space-between;
    color:greenyellow
}

.cicada{
    display : flex;
    color:black
}

.cicada-text{
    display: flex;
    justify-content: space-between;
    color:red
}

.pigeon{
    display : flex;
    color:brown
}

.pigeon-text{
    display: flex;
    justify-content: space-between;
    color:black
}

.teddy{
    display : flex;
    color:magenta
}

.teddy-text{
    display: flex;
    justify-content: space-between;
    color:brown
}

.camel{
    display : flex;
    color:palegreen
}

.camel-text{
    display: flex;
    justify-content: space-between;
    color:gold
}

    h1{
        text-align: center;
        margin-left: 30px;
        color : blue;
        padding: 25px;
}

body{
    background: blue;
    color: whitesmoke;
}

.Links {
    padding: 25px;
}

img {
    margin-bottom: -5px;
}

li {
    color: #696969;
}

b {
    font-size: 20px;
    color: #008b8b;
}

i {
    font-size: 20px;
    color: #b22222;
}

a:link{
    color: white;
}
a:visited{
    color: white;
}

.origami:hover{
    transform: scale(1.2);
}

li {
    color: #696969;
}

b {
    font-size: 20px;
    color: #008b8b;
}

i {
    font-size: 20px;
    color: #b22222;
}

.footer{
    background-color: crimson;
    display: flex;
    justify-content: flex-end;
}


